
/*---------------------- media queries ------------------------*/

/********BREAKPOINTS********
Format tablette = 1024px
format smartphone = 768px
****************************/




/* Format Tablette classique: Augmentation des cadres des menus sur toutes les pages. Diminution de l'image de la note.
  Diminution de la police des titres et de "Prochainement". Augmentation du cadre de prochainement */
@media (max-width: 1024px) {


  .section_menu1,
  .section_menu2,
  .section_menu3,
  .section_menu4 {
    width: 45%;
    height: 45%;
    margin: 1rem auto;
  }

  .carte_menu1,
  .carte_menu2,
  .carte_menu3,
  .carte_menu4 {
    width: 90%;
  }

  .titre_menu1_index,
  .titre_menu2_index,
  .titre_menu3_index,
  .titre_menu4_index {
    font-size: 2rem;
  }

  .titre_resto2_index {
    font-size: 1.5rem;
  }

  .titre_resto3_index {
    font-size: 2.5rem;
  }


  .service h3 {
    font-size: 1.4rem;
  }

  .carte_menu3 .service h3 {
    font-size: 1.2rem;
  }

  .carte_menu4 .service h3 {
    font-size: 1.2rem;
  }


  .prochainement {
    font-size: 1.2rem;
    width: 40%;
  }


}

/* Format Smartphone: Transformation des cadres des menus sur la page index.
     Diminution générale des polices, images et marges.
     Diminution de la police de "Prochainement" et augmentation du cadre */

@media (max-width: 768px) {

  .section_menu1,
  .section_menu2,
  .section_menu3,
  .section_menu4 {
    width: 90%;
    height: 22%;
  }

  .titre_menu1_index,
  .titre_menu2_index,
  .titre_menu3_index,
  .titre_menu4_index {
    font-size: 1rem;
  }

  .titre_resto2_index {
    font-size: 1.2rem;
  }
  .restaurant_h1 {
    font-size: 1.3rem;
  }
  .titre_resto1,
  .titre_resto2,
  .titre_resto3,
  .titre_resto4 {
    font-size: 1rem;
    margin: auto;
  }

  .service {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .carte_menu1 .service h3,
  .carte_menu2 .service h3,
  .carte_menu3 .service h3,
  .carte_menu4.service h3 {
    font-size: 1rem;
  }

  .recette {
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
  }

  .prix {
    margin-right: 0.8rem;
    font-size: 0.9rem;
  }

  .carte_menu1 .recette {
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  .carte_menu2 .prix {
    margin-right: 0.8rem;
    font-size: 1.1rem;
  }

  .resto_1_end h2 {
    font-size: 1.8rem;
  }
  .prochainement {
    font-size: 1.1rem;
    width: 60%;
  }
  .footer_lien {
    font-size: 1.1rem;
  }
  .mention {
    margin-right: 1rem;
    text-align: center;
  }

  .contact {
    margin-left: 1rem;
    text-align: center;
  }
}

