@charset "UTF-8";
/*------------ EFFET ZOOM DES MENUS DE INDEX-------------- */
@keyframes zoom_menu {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.6;
    transform: scale(1.2);
  }
}
/*----------- POINTS DE SUSPENSION ----------------*/
@keyframes points {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*------------ EFFET ZOOM DES MENUS DE INDEX-------------- */
.section_menu a:hover {
  animation: zoom_menu 2s forwards;
}
/*----------- ANIMATION 3 POINTS DE PROCHAINEMENT ----------------*/
.prochainement span {
  margin: 0.1em;
  font-weight: bold;
  animation: points;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.prochainement span:nth-child(2) {
  animation-delay: 0.7s;
}
.prochainement span:nth-child(3) {
  animation-delay: 1.4s;
}

/*----------- SOULIGNEMENT DES SERVICES DE CHAQUE MENU ----------------*/
.service h3:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: black;
  transition: width 0.7s ease;
  -webkit-transition: width 0.7s ease;
}
.service h3:hover:after {
  width: 100%;
  left: 0;
}

/*------------------GENERAL-------------------------*/
html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.bloc {
  width: 100%;
  height: 1600px;
  margin: 0;
  font-family: sans-serif;
}

/*--------------------HEADER-------------------------*/
.header {
  height: 10%;
  background-color: #579c87;
  text-align: center;
  margin: 0;
  color: #fcca47;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1, .header p {
  color: #fcca47;
  text-decoration: none;
  font-weight: bold;
}
.header p ,header h1{
  font-size: 3.6rem;
}

/*-----------------------INDEX-------------------------*/
.section_menu {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.section_menu1 {
  box-shadow: 0 0 1em #e2e2e2;
  width: 35%;
  height: 45%;
  margin: 1.5em 1.5em 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  background-color: #fcdfdb;
}
.fab {
  background: -webkit-linear-gradient(340deg, #fc7b7f, #ffa751);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 0.1em;
  font-size: 5em;
  color: #3e141a;
}
.fabposition {
  margin-top: -5em;
}

.section_menu1 .titre_resto1_index {
  font-family: "Devonshire", cursive;
  color: #3e141a;
  font-size: 2rem;
  font-weight: lighter;
}

.section_menu2 {
  box-shadow: 0 0 1em #e2e2e2;
  width: 35%;
  height: 45%;
  margin: 1.5em 1.5em 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  background-color: #fff5fe;
}

.section_menu3 {
  box-shadow: 0 0 1em #e2e2e2;
  width: 35%;
  height: 45%;
  margin: 1.5em 1.5em 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  background-color: #f3f5f6;
}

.section_menu4 {
  box-shadow: 0 0 1em #e2e2e2;
  width: 35%;
  height: 45%;
  margin: 1.5em 1.5em 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
}

.titre_resto2_index {
  font-family: "Croissant one", cursive;
  font-size: 1.6rem;
  color: #d8852e;
  background: -webkit-linear-gradient(340deg, #d8852e, #6e4ccc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: lighter;
}

.titre_resto3_index {
  font-family: "Cookie", cursive;
  font-size: 2.8rem;
  color: #0936e0;
  background: -webkit-linear-gradient(340deg, #0936e0, #399dfa);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: lighter;
  font-style: italic;
  padding-left: 1rem;
  padding-right: 1rem;
}

.titre_resto4_index {
  font-family: "Kaushan script", cursive;
  font-size: 2.3rem;
  color: #3d9339;
  background: -webkit-linear-gradient(340deg, #3d9339, #bfff7e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: lighter;
  padding-left: 1rem;
  padding-right: 1rem;
}

.titre_menu1_index,
.titre_menu3_index,
.titre_menu4_index {
  font-family: "segoe print", "Kalam", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #3e141a;
}

.titre_menu2_index {
  font-family: "bell mt", serif;
  font-size: 2.5rem;
  color: #d8852e;
}

.titre_menu3_index {
  color: #399dfa;
  font-weight: lighter;
}

.titre_menu4_index {
  color: #3d9339;
  font-weight: lighter;
}

/*-----------------------PAGE MENU---------------------*/
/*----------PAGE MENU ELEMENT COMMUN------------*/
.service {
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
}
.service h3 {
  font-size: 1.5rem;
  position: relative;
}

.restaurant {
  text-align: center;

}

.restaurant_h1 {
  font-size: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.recette {
  margin-left: 4rem;
  margin-right: 1rem;
}

.prix {
  margin-right: 4rem;
  font-weight: bold;
}

.plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*--------------PAGE MENU 1--------------*/

.titre_menu1 {
  font-family: "Devonshire", cursive;
  font-size: 3rem;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bande1_menu1 {
  -webkit-clip-path: polygon(52% 37%, 72% 38%, 100% 39%, 100% 40%, 77% 40%, 65% 39%, 36% 40%, 0 39%, 0 38%, 30% 38%);
  clip-path: polygon(52% 37%, 72% 38%, 100% 39%, 100% 40%, 77% 40%, 65% 39%, 36% 40%, 0 39%, 0 38%, 30% 38%);
  background-color: #3e141a;
  width: 33%;
  height: 300%;
  margin-left: 0em;
  margin-top: 3em;
}

.bande2_menu1 {
  -webkit-clip-path: polygon(52% 37%, 72% 38%, 100% 39%, 100% 40%, 77% 40%, 65% 39%, 36% 40%, 0 39%, 0 38%, 30% 38%);
  clip-path: polygon(52% 37%, 72% 38%, 100% 39%, 100% 40%, 77% 40%, 65% 39%, 36% 40%, 0 39%, 0 38%, 30% 38%);
  background-color: #3e141a;
  width: 33%;
  height: 300%;
  margin-left: 0em;
  margin-top: 3em;
}

.carte_menu1 {
  width: 65%;
  margin: 1em auto 10em auto;
  font-family: "segoe print", "Kalam", sans-serif;
  box-shadow: 0 0 1em #e2e2e2;
  background-color: #fcdfdb;
  color: #3e141a;
}
.menu1_end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 2em;
}
.menu1_end h2 {
  font-family: "Devonshire", cursive;
  font-size: 2.5rem;
  font-weight: lighter;
}

/*-------------PAGE MENU 2--------------*/
.carte_menu2 {
  width: 65%;
  margin: auto;
  padding-bottom: 6em;
  font-family: "segoe print", "Kalam", sans-serif;
  box-shadow: 0 0 1em #e2e2e2;
  background-color: #fff5fe;
  font-family: "bell mt", serif;
  font-size: 1.3rem;
}

.bande1_menu2 {
  display: block;
  -webkit-clip-path: polygon(87% 46%, 100% 50%, 87% 54%, 0% 50%);
  clip-path: polygon(87% 46%, 100% 50%, 87% 54%, 0% 50%);
  width: 35%;
  height: 250%;
  margin-left: 0em;
  margin-top: 0em;
}
.bande2_menu2 {
  display: block;
  -webkit-clip-path: polygon(13% 46%, 100% 50%, 13% 54%, 0% 50%);
  clip-path: polygon(13% 46%, 100% 50%, 13% 54%, 0% 50%);
  width: 35%;
  height: 250%;
  margin-left: 0em;
  margin-top: 0em;
}

.bande_menu2_color1 {
  background-color: #d8852e;
}
.bande_menu2_color2 {
  background-color: #a56799;
}
.bande_menu2_color3 {
  background-color: #6e4ccc;
}

.carte_menu2 .service {
  margin-left: 1rem;
  margin-right: 1rem;
}
.carte_menu2 .service h3 {
  font-size: 1.4rem;
  text-align: center;
}

.titre_resto2 {
  font-family: "Croissant one", cursive;
  font-size: 3rem;
  color: #d8852e;
  background: -webkit-linear-gradient(340deg, #d8852e, #6e4ccc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: lighter;
  margin-top: 3rem;
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.soustitre1_menu2, .color1 {
  color: #d8852e;
}

.soustitre2_menu2, .color2 {
  color: #a56799;
}

.soustitre3_menu2, .color3{
  color: #6e4ccc;
}


/*---------------PAGE MENU 3--------------------------*/
.titre_resto3 {
  font-family: "Cookie", cursive;
  font-size: 4rem;
  font-weight: lighter;
  margin-top: 3rem;
  padding-top: 4rem;
  margin-bottom: 4rem;
  color: #0936e0;
  background: -webkit-linear-gradient(340deg, #2b00ff, #63edff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.carte_menu3 {
  width: 65%;
  margin: auto;
  padding-bottom: 5em;
  font-family: "segoe print", "Kalam", sans-serif;
  box-shadow: 0 0 1em #e2e2e2;
  background-color: #f3f5f6;
  font-size: 1.1rem;
}
.carte_menu3 .service h3 {
  font-size: 1.3rem;
}

.bande1_menu3 {
  display: block;
  clip-path: polygon(48% 45%, 96% 45%, 100% 50%, 12% 50%, 6% 47%, 2% 44%, 0% 41%, 9% 45%);
  -webkit-clip-path: polygon(48% 45%, 96% 45%, 100% 50%, 12% 50%, 6% 47%, 2% 44%, 0% 41%, 9% 45%);
  width: 38%;
  height: 150%;
  margin-left: -3em;
  margin-top: 0.4em;
}
.bande2_menu3 {
  display: block;
  clip-path: polygon(94% 41%, 89% 44%, 83% 45%, 37% 45%, 1% 45%, 0% 50%, 71% 50%, 86% 49%, 91% 46%, 94% 44%, 96% 39%);
  -webkit-clip-path: polygon(94% 41%, 89% 44%, 83% 45%, 37% 45%, 1% 45%, 0% 50%, 71% 50%, 86% 49%, 91% 46%, 94% 44%, 96% 39%);
  width: 38%;
  height: 150%;
  margin-right: -3em;
  margin-top: 0.4em;
}

.bande_menu3_color1 {
  background-color: #2b00ff;
}

.bande_menu3_color2 {
  background-color: #0066ff;
}

.bande_menu3_color3{
  background-color: #009dff;
}
/*---------------PAGE MENU 4--------------------*/
.titre_resto4 {
  font-family: "Kaushan script", cursive;
  font-size: 2.3rem;
  color: #3d9339;
  background: -webkit-linear-gradient(340deg, #3d9339, #bfff7e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: lighter;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.carte_menu4 {
  width: 65%;
  margin: auto;
  padding-bottom: 5em;
  font-family: "segoe print", "Kalam", sans-serif;
  box-shadow: 0 0 1em #e2e2e2;
  background-color: #fff;
  font-size: 1rem;
}
.carte_menu4 .service h3 {
  font-size: 1.4rem;
}

.bande1_menu4{
  -webkit-clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  background: -webkit-linear-gradient(left, #3d9339, #bfff7e);
  width: 38%;
  height: 150%;
  margin-left:  -3em;
  margin-top: 1.2em;
}
.bande2_menu4{
  -webkit-clip-path: polygon(100% 40%, 75% 39%, 55% 39%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 46%);
  clip-path: polygon(100% 40%, 75% 39%, 55% 39%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 46%);
  background: -webkit-linear-gradient(right, #3d9339, #bfff7e);
  width: 38%;
  height: 150%;
  margin-right:  -3em;
  margin-top: 1.2em;
}

/*---------------PROCHAINEMENT-------------------------*/
.prochainement {
  width: 25%;
  height: 5%;
  background-color: #579c87;
  color: #fcca47;
  font-size: 1.6rem;
  text-align: center;
  margin: 2rem auto 10rem auto;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

/*---------------MENTIONS-------------------*/
.mention {
  text-align: center;
}
.mentions {
  text-align: center;
  align-items: center;
  color: #feca02;
}

/*---------------FOOTER-------------------*/
.footer {
  width: 100%;
  height: 10%;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mention {
  color: #fcca47;
  padding-left: 2rem;
}

.contact {
  color: #fcca47;
  padding-right: 2rem;
}



/*---------------------- media queries ------------------------*/

/********BREAKPOINTS********
Format tablette = 1024px
format smartphone = 768px
****************************/




/* Format Tablette classique: Augmentation des cadres des menus sur toutes les pages.
  Diminution de la police des titres et de "Prochainement". Augmentation du cadre de prochainement */
@media (max-width: 1024px) {


  .section_menu1,
  .section_menu2,
  .section_menu3,
  .section_menu4 {
    width: 45%;
    height: 45%;
    margin: 1rem auto;
  }

  .fabposition {
  margin-top: -1em;
  }
  .carte_menu1,
  .carte_menu2,
  .carte_menu3,
  .carte_menu4 {
    width: 90%;
  }

  .titre_menu1_index,
  .titre_menu2_index,
  .titre_menu3_index,
  .titre_menu4_index {
    font-size: 2rem;
  }

  .titre_resto2_index {
    font-size: 1.5rem;
  }

  .titre_resto3_index {
    font-size: 2.5rem;
  }


  .service h3 {
    font-size: 1.4rem;
  }

  .carte_menu3 .service h3 {
    font-size: 1.2rem;
  }

  .carte_menu4 .service h3 {
    font-size: 1.2rem;
  }

  .bande1_menu3 {
  display: block;
  clip-path: polygon(48% 45%, 96% 45%, 100% 50%, 12% 50%, 6% 47%, 2% 44%, 0% 41%, 9% 45%);
  -webkit-clip-path: polygon(48% 45%, 96% 45%, 100% 50%, 12% 50%, 6% 47%, 2% 44%, 0% 41%, 9% 45%);
  width: 38%;
  height: 150%;
  }
  .bande2_menu3 {
  display: block;
  clip-path: polygon(94% 41%, 89% 44%, 83% 45%, 37% 45%, 1% 45%, 0% 50%, 71% 50%, 86% 49%, 91% 46%, 94% 44%, 96% 39%);
  -webkit-clip-path: polygon(94% 41%, 89% 44%, 83% 45%, 37% 45%, 1% 45%, 0% 50%, 71% 50%, 86% 49%, 91% 46%, 94% 44%, 96% 39%);
  width: 38%;
  height: 150%;
  }
  .bande1_menu4 {
  display: block;
  -webkit-clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  background: -webkit-linear-gradient(left, #3d9339, #bfff7e);
  width: 38%;
  height: 150%;
  }

  .bande2_menu4 {
  display: block;
  -webkit-clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  background: -webkit-linear-gradient(right, #3d9339, #bfff7e);
  width: 38%;
  height: 150%;
  }

  .prochainement {
    font-size: 1.2rem;
    width: 40%;
  }
  
}

/* Format Smartphone: Transformation des cadres des menus sur la page index.
     Diminution générale des polices et marges.
     Diminution de la police de "Prochainement" et augmentation du cadre */

@media (max-width: 768px) {

  .section_menu1,
  .section_menu2,
  .section_menu3,
  .section_menu4 {
    width: 90%;
    height: 22%;
  }

  .fabposition {
  margin-top: 0em;
  }
  .titre_menu1_index,
  .titre_menu2_index,
  .titre_menu3_index,
  .titre_menu4_index {
    font-size: 1rem;
  }

  .titre_resto2_index {
    font-size: 1.2rem;
  }
  .restaurant_h1 {
    font-size: 1.3rem;
  }

  .service {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .carte_menu1 .service h3,
  .carte_menu2 .service h3,
  .carte_menu3 .service h3,
  .carte_menu4 .service h3 {
    font-size: 1rem;
  }

  .recette {
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
  }

  .prix {
    margin-right: 0.8rem;
    font-size: 0.9rem;
  }

  .carte_menu1 .recette {
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  .carte_menu2 .prix {
    margin-right: 0.8rem;
    font-size: 1.1rem;
  }

  .resto_1_end h2 {
    font-size: 1.8rem;
  }

  .service h3 {
    text-align: center; 
  }
  .bande1_menu3 {
  display: block;
  clip-path: polygon(48% 45%, 96% 45%, 100% 50%, 12% 50%, 6% 47%, 2% 44%, 0% 41%, 9% 45%);
  -webkit-clip-path: polygon(48% 45%, 96% 45%, 100% 50%, 12% 50%, 6% 47%, 2% 44%, 0% 41%, 9% 45%);
  width: 38%;
  height: 150%;
  margin-left: auto;
  }
  .bande2_menu3 {
  display: block;
  clip-path: polygon(94% 41%, 89% 44%, 83% 45%, 37% 45%, 1% 45%, 0% 50%, 71% 50%, 86% 49%, 91% 46%, 94% 44%, 96% 39%);
  -webkit-clip-path: polygon(94% 41%, 89% 44%, 83% 45%, 37% 45%, 1% 45%, 0% 50%, 71% 50%, 86% 49%, 91% 46%, 94% 44%, 96% 39%);
  width: 38%;
  height: 150%;
  margin-right: auto;
  }

  .bande1_menu4 {
  display: block;
  -webkit-clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  background: -webkit-linear-gradient(left, #3d9339, #bfff7e);
  width: 38%;
  height: 150%;
  margin-left: 0;
  }
  .bande2_menu4 {
  display: block;
  -webkit-clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  clip-path: polygon(100% 41%, 75% 39%, 55% 40%, 44% 40%, 26% 39%, 11% 40%, 0 39%, 0 43%, 10% 43%, 25% 43%, 36% 42%, 58% 43%, 69% 42%, 81% 43%, 100% 43%);
  background: -webkit-linear-gradient(right, #3d9339, #bfff7e);
  width: 38%;
  height: 150%;
  margin-right: 0;
  }

  .prochainement {
    font-size: 1.1rem;
    width: 60%;
  }
  .footer_lien {
    font-size: 1.1rem;
  }
  .mention {
    margin-right: 1rem;
    text-align: center;
  }

  .contact {
    margin-left: 1rem;
    text-align: center;
  }
}

